.lynModalMask{
    z-index: 1000;
    height: 100%;
    background: rgba(55, 55, 55, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lynModal{
    width: 400px;
    height: 500px;
    background-image: url('../../static/img/123.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: antiquewhite;
    font-size: 20px;
    border-radius: 10px;
}
.lynModalHeader{
    height: 40px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lynModalBack{
    color: white;
    font-size: 120%;
    background: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;

}
.lynModalBack:focus{
    outline: none;
}
.lynModalBody{
    height: 380px;
    padding: 20px;
    color: black;
    background: rgba(255, 255, 255, 0.774);
    margin-top: 15px;
}
.lynModalFooter{
    height: 60px;
}
.lynModalClose{
    display: block;
    width: 300px;
    height: 40px;
    margin: 10px auto;
    color: white;
    background: #f90;
    border-radius: 6px;
    border: none;

}
.lynModalClose:focus{
    outline: none;
}